body{
    background-color: blueviolet;
}
.imgBox{
    background-image: url('image.jpg');
    background-size:cover;
    top: 5px;
    left: 4px;
    position: relative;
    height: 145px;
    width: 145px;
    cursor: pointer;
}
.whiteBox{
    display: inline-block;
    margin: 10px;
    background: white;
    height: 155px;
    width: 155px;
    border: black solid 3px ;
}
.dashed{
    background: rgb(128, 127, 127);
    border: dashed 4px indianred;
}
.hold{
    border: red solid 4px;
}
.hide{
    display: none;
}